{% extends "instructor/base_instructor.html" %}

{% block content %}
  <div class="container">
    <h1 class="text-info">
      Course: <a href="{% url 'instructor:instructor_course_detail' pk=module.course.pk %}">{{ module.course.title }}</a>
    </h1>

    <div class="module-detail">
      <h2 class="module-title">Module: {{ module.module_name }}</h2>
      <p class="module-description">{{ module.description|safe }}</p>
      <!-- Add other module details here -->
    </div>

    <div class="lesson-list">
      {% for lesson in module.lessons.all %}
        <div class="lesson">
          <h4 class="lesson-title">
            <a href="{{ lesson.get_absolute_url }}">
              <svg xmlns="http://www.w3.org/2000/svg" class="lesson-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 9v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-3v-6h3z"></path>
                <path d="M3 9v6"></path>
                <path d="M6 9v6"></path>
              </svg>
              Lesson Name: {{ lesson.lesson_name }}
            </a>
          </h4>
          <p class="lesson-content">{{ lesson.content|safe }}</p>

          {% with lesson.attachment as attachment %}
            {% if attachment %}
              <p class="lesson-attachment">
                Attached file: <a href="{{ attachment.url }}" target="_blank">{{ attachment }}</a>
              </p>
            {% endif %}
          {% endwith %}

          {% with lesson.video as video %}
            {% if video %}
              <div class="lesson-video">
                <video controls class="card w-100">
                  <source src="{{ video.url }}" type="video/mp4" />Your browser does not support the video tag.
                </video>
              </div>
            {% endif %}
          {% endwith %}

          <div class="lesson-actions">
            <a class="btn btn-info" href="{% url 'instructor:lesson-update' course_pk=lesson.module.course.pk module_pk=lesson.module.pk pk=lesson.pk %}">Update Lesson</a>
            <a class="btn btn-info" href="{% url 'instructor:lesson-delete' course_pk=lesson.module.course.pk module_pk=lesson.module.pk pk=lesson.pk %}">Delete Lesson</a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if quizzes %}
    <div class="quizzes-list">
      <h3 class="text-info">Quizzes:</h3>
      <ul>
        {% for quiz in quizzes %}
          <li>
            <a href="">{{ quiz.title }}</a>
            <p>{{ quiz.description }}</p>
            <p>Number of Questions: {{ quiz.number_of_questions }}</p>
            <p>Time Limit (minutes): {{ quiz.time_limit_minutes }}</p>
            <p>Published: {{ quiz.is_published }}</p>
            <!-- Add any other fields you want to display -->
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  </div>
{% endblock %}
