{% extends 'instructor/base_instructor.html' %}
{% block content %}
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">Overview</div>
          <h2 class="page-title">{{ course.title }}</h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
          <div class="btn-list">
            <span class="d-none d-sm-inline"><a href="{% url 'instructor:instructor_course_update' course.pk %}" class="btn">Update Course</a></span>
            <a href="#" class="btn btn-primary d-none d-sm-inline-block">Delete Course</a>
            <a href="{% url 'instructor:module-create' course.pk %}" class="btn btn-primary d-none d-sm-inline-block">Create module</a>
            <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">
    <div class="card">
      <div class="card-status-bottom bg-success"></div>
      <div class="card-body">
 
        <p class="text-muted">{{ course.excerpt|safe}}</p>
      </div>
      <div class="card-footer">
  
        <div class="row">
  
            <div class="col-3">
              <div class="card-title">{{ course.instructor }}</div>
              <div class="card-subtitle">Instructor</div>
            </div>
  
            <div class="col-3">
              <div class="card-title">{{ course.difficulty_level}}</div>
              <div class="card-subtitle">Difficulty Level</div>
            </div>
  
            <div class="col-3">
              <div class="card-title">{{ course.created_at}}</div>
              <div class="card-subtitle">created at</div>
            </div>
          
            <div class="col-3">
              <div class="card-title">{{ course.updated_at}}</div>
              <div class="card-subtitle">updated at</div>
            </div>
  
        </div>
      </div>
  
      </div>
    </div>
  </div>

  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <div class="row">
        <div class="col-12">




          <div class="row">
            {% for module in course.modules.all %}

            
              <div class="card my-2">
                <div class="card-body">
                  <h3 class="card-title"><a href="{% url 'instructor:module-detail' course.pk module.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right-lines" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 9v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-3v-6h3z"></path>
                      <path d="M3 9v6"></path>
                      <path d="M6 9v6"></path>
                    </svg>
                    Module : {{ module.module_name }}
                  </a></h3>
                  <p class="text-muted">{{module.description|safe}} </p>
                  {% for lesson in module.lessons.all %}
                  <div>
                    <!-- Lesson icon from tabler.io -->
              
                    <h4 class="my-2  text-purple bg-transparent">
                      <a href="{{lesson.get_absolute_url}}">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right-lines" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-3v-6h3z"></path>
                        <path d="M3 9v6"></path>
                        <path d="M6 9v6"></path>
                      </svg>

                      {{ lesson.lesson_name }}    </a>      
                      <a  class="btn btn-sm   bg-dark text-dark-fg mx-1" 
                          style="float: inline-end;" 
                          href="{% url 'instructor:lesson-delete' course_pk=lesson.module.course.pk module_pk=lesson.module.pk pk=lesson.pk %}">Delete Lesson</a>
                      
                      <a  class="btn btn-sm   bg-info text-dark-fg mx-1" 
                          style="float: inline-end;" 
                          href="{% url 'instructor:lesson-update' course_pk=lesson.module.course.pk module_pk=lesson.module.pk pk=lesson.pk %}">Update Lesson</a>
                  
                    </h4>

                  </div>
                {% endfor %}
                </div>
                <!-- Card footer -->
                <div class="card-footer">
                  <div class="d-flex">
                    <a class="btn btn-sm btn-primary mx-1" href="{% url 'instructor:module-update' course.pk module.id %}">Update Module</a>
                    <a class="btn btn-sm btn-danger mx-1" href="{% url 'instructor:module-delete' course.pk module.id %}">Delete MOdule</a>
                    <a class="btn btn-sm  bg-green text-green-fg mx-1" href="{% url 'instructor:lesson-create' course.pk module.id %}">create lesson</a>
                    <a href="{% url 'instructor:quiz-create' course.pk module.id %}">Create a Quiz</a>

                  </div>
                </div>
              </div>

            {% endfor %}
          </div>
        </div>






        <div class="col-6">
          <div class="card p-2">
            <img src="{{ course.image_thumbnail.url }}" class="mb-2 rounded-3 border" />
            <p>what_youll_learn: {{ course.what_youll_learn|safe }}</p>
            <p>requirements: {{ course.requirements|safe }}</p>
            <p>detailed_description: {{ course.detailed_description|safe }}</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>





  
{% endblock %}
